<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RLCU - Concurso de Fotografías</title>
    <link rel="icon" href="../content/img/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css?2017.1.0.7">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Scripts/app/angular-notify/angular-notify.min.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <style>
        .body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif;
        }
    </style>

    <div class="w3-light-grey w3-content body" style="max-width:1600px">

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
            <br>
            <div class="w3-container w3-center">
                <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                    <i class="fa fa-remove"></i>
                </a>
                <img src="http://tennischel.ru/file/user.png" alt="" style="width:45%;" class="w3-round"><br><br>
                <h4><b>@ViewBag.titulo</b></h4>
                <p class="w3-text-grey">@ViewBag.nombre</p>
            </div>
            <div class="w3-bar-block w3-container ">
                <a href="/Login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-red"><i class="fa fa-power-off  fa-fw w3-margin-right"></i>Log Out</a>
                <a href="/Concurso/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding @ViewBag.portafolio"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
                <a href="/Concurso/Info" onclick="w3_close()" class="w3-bar-item w3-button w3-padding @ViewBag.info"><i class="fa fa-user fa-fw w3-margin-right"></i>PERFIL</a>
                <a href="/Concurso/Jurado" onclick="w3_close()" class="w3-bar-item w3-button w3-padding @ViewBag.jurado @ViewBag.super"><i class="fa fa-users fa-fw w3-margin-right"></i>JURADO</a>
            </div>
            <div class="w3-container w3-display-bottomleft" style="left: -16px;bottom: 42px;">
                <img src="~/Content/img/TIRA LOGOS-01.png" class="w3-round-small" alt="Norway" style="width:100%" />
              
            </div>
</nav>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px">
           
                @RenderBody()
            
            <!-- Header -->
           
        </div>
    </div>

    <script>
// Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
  

    <script src="~/Content/assets/web/assets/jquery/jquery.min.js?2017.1.0.7"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js?2017.1.0.7"></script>
    <script src="~/Scripts/angular.min.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/angular-notify/angular-notify.min.js?2017.1.0.7"></script>

    <script src="~/Scripts/app/app.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/filter.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/report.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/service.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/controller/PortafolioCtrl.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/controller/PerfilCtrl.js?2017.1.0.7"></script>
    <script src="~/Scripts/app/controller/JuradoCtrl.js?2017.1.0.7"></script>
</body>
</html>
